@use '../../assets/styles/helpers/mixins' as *;
@use '../../assets/styles/helpers/functions' as *;

.tooltip {
	position: absolute;
	inset: em(-40) auto auto 50%;
	padding: 0.25em;
	background-color: var(--clr-neutral-400);
	border-radius: var(--border-radius-300);
	font-size: var(--font-size-tooltip);
	text-align: center;
	color: var(--clr-neutral-100);
	z-index: 1;
	translate: -50%;
}

.hide {
	display: none;
}

.show {
	display: block;
	animation: fade-in var(--animation-time) ease-in;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
